* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.logo {
    height: 50;
    width: 200px;
    padding-left: 50px;


}

body {
    min-height: 100vh;
    background-color: rgb(233, 233, 233);
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 --1rem black;
}

.filtrotipo {
    background-color: brown;
    padding: 0.5rem;

}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-list {
    display: grid;
    width: 50px;
    grid-template-columns: auto auto;
    align-items: center;
    gap: .3rem;
}

.pokemon-todos {
    display: grid;
    padding: 1px;
    gap: 0.5rem;
    grid-template-columns: auto auto auto auto;
}

.pokemon {
    margin-left: 5px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.946);
    box-shadow: 0 0 3rem --1rem;
    padding-block: 2px;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}





div.pokemon-image {
    margin: 10px;
    border-radius: 10px;
}

.pokemon-image {
    background-color: rgb(184, 171, 171);
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.pokemon-image:hover {
    transform: scale(1);
    box-shadow: 0 0 5rem rgb(246, 253, 95);
}

.pokemon-image img {
    width: 100%;
    max-width: 8rem;
}

.btn-header:hover {
    transform: scale(1);
    box-shadow: 0 0 5rem black;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding-inline: 1rem;
    align-items: left;
    text-align: left;
}

.nombre-contenedor {
    display: flex;
    column-gap: .5rem;
}

.pokemonid {
    color: rgb(159, 159, 159);
    padding: 1pxx;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.pokemon-nombre {
    font-size: 14px;
    font-weight: 700;
}

.pokemon-tipo {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    flex-wrap: wrap;
    justify-content: left;
}

.tipo {
    padding: 3px;
    border-radius: 5px;
}


/*Buttons Header start*/
.btn-header {
    background-color: rgb(220, 220, 220);
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    text-transform: initial;
    font-weight: 100;
    font-size: 9px;
    box-shadow: 0 0 1rem black;
    transition: .2s;
    width: 50px;
    font-family: "Flexo-Medium", arial, sans-serif;
}

.btn-header:hover {
    transform: scale(1);
    box-shadow: 0 0 5rem black;
}

.normal {
    background-color: grey;
}

.fire {
    background-color: rgb(255, 68, 68);
    color: black;
}

.water {
    background-color: blue;
    color: black;
}

.grass {
    background-color: rgb(0, 252, 0);
    color: black;
}

.ice {
    background-color: rgb(142, 189, 255);
    color: black;
}

.electric {
    background-color: rgb(238, 250, 123);
    color: black;
}

.fight {
    background-color: rgb(237, 50, 37);
    color: white;
}

.poison {
    background-color: rgb(234, 41, 255);
    color: white;
}

.ground {
    background-color: rgb(191, 238, 3);
    color: black;
}

.fly {
    background-color: rgb(255, 255, 255);
    color: black;
}

.bug {
    background-color: rgb(150, 255, 166);
    color: rgb(0, 0, 0);
}


.rock {
    background-color: rgb(117, 121, 118);
    color: white;
}

.ghost {
    background-color: rgb(168, 37, 140);
    color: black;
}


.dark {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.dragon {
    background-color: rgb(210, 131, 34);
    color: rgb(0, 0, 0);
}

.steel {
    background-color: rgb(114, 199, 218);
    color: rgb(255, 255, 255);
}

.fairy {
    background-color: rgb(218, 114, 204);
    color: rgb(0, 0, 0);
}

/* -------------Buttons Header Ends*--------------/